.card-item {
  border-radius: 19px;
  border: 1px solid #0000004d;
  background-color: #e9e9e9;
  height: 328px;
  width: 328px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.card-item__info-wrapper {
  position: absolute;
  margin-top: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.card-item__like-button {
  border: none;
  padding: 0;
  width: 20px;
  height: 20px;
  background: url(../assets/like-button.svg) no-repeat center;
}

.card-item__like-button:hover {
  cursor: pointer;
}

.card-item__like-button_liked {
  background-image: url(../assets/like-button_liked.svg);
}

.card-item__like-button_disabled {
  display: none;
}

.card-item__text-wrapper {
  background-color: #ffffff;
  border-radius: 4px;
  text-align: center;
}

.card-item__text {
  font-size: 16px;
  color: #00000099;
  margin: 2px 12px;
}

.card-item__card-image {
  width: 328px;
  height: 328px;
}
