.side-bar {
  margin-top: 19px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.side-bar__profile-info {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.side-bar__profile-img {
  height: 56px;
  width: 56px;
  border-radius: 50%;
  margin-right: 16px;
}

.side-bar__profile-name {
  margin: 0;
  font-size: 20px;
}

.side-bar__text-button {
  background: none;
  border: none;
  font-family: "Cabinet Grotesk";
  font-size: 20px;
  font-weight: 700;
  padding: 0;
  line-height: 24px;
}

.side-bar__text-button:hover {
  cursor: pointer;
  opacity: 60%;
}

.side-bar__change-profile {
  margin-bottom: 8px;
}
