.weather-card {
  height: 80px;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.weather-card_color_day {
  background-color: #00a3ff;
}

.weather-card_color_stormy-day {
  background-color: #6ca6c7;
}

.weather-card_color_night {
  background-color: #286897;
}

.weather-card__text {
  margin: 0 0 0 16px;
  font-size: 36px;
  color: #ffffff;
  line-height: 40px;
}

.weather-card__image {
  position: absolute;
  top: 0px;
  right: 0px;
}
